.navbar{
    background-color: #4169E1;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    font-size: 25px;
    color: white;
    padding-left: 1%;
    padding-top: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}