.form{
  position: relative;
  margin-left: 60%;
  margin-top: 20%;
  background-color: white;
  max-width: 25%;
  padding-bottom: 10%;
  padding-top: 2%;
  border-radius: 2%;
  box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.2);
}

button{
  margin-top: 5%;
  margin-left: 4%;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

input{
  margin: 1%;
  margin-left: 4%;
  border: 1px solid rgba(122, 122, 122, 0.3);
  font-size: 15px;
}